<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center mb-4">Edit Vaccine Center</h1>
        <div class="col-6 offset-3">
            <form action="/vaccineCenters/<%= vc._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="row">
                    <div class="mb-3 col-6">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="vaccineCenter[name]"
                            value="<%= vc.name  %>" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="vaccineCenter[location]"
                            value="<%= vc.location  %>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="vaccineCenter[image]"
                        value="<%= vc.image  %>" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label class="form-label" for="price">Vaccine Pricing</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="vaccineCenter[price]" value="<%= vc.price  %>"
                                required>
                        </div>
                    </div>

                    <div class="mb-3 col-8">
                        <label class="form-label" for="service">Service(s)</label>
                        <input class="form-control" type="text" id="service" name="vaccineCenter[service]"
                            value="<%= vc.service  %>" required>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="vaccineCenter[description]"
                        required rows="5"><%=  vc.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary btn-lg btn-block">Update Vaccine Center</button>
                </div>
            </form>
            <a href="/vaccineCenters/<%=  vc._id %>" class="btn btn-secondary btn-lg btn-block mb-5" role="button">Back
                To
                Vaccine Center</a>

        </div>
    </div>