<% layout('layouts/boilerplate') %>

    <div class="row my-4">
        <div class="col-6 mx-auto">
            <div class="card mb-3 p-3">
                <img src="<%= vc.image %>" class="card-img-top"  style="width:100%; height:100%; max-height:22rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0"> <%= vc.name %> </h5>
                    <a class="" href="<%= vc.registerURL %>"> <%= vc.registerURL %> </a>
                    <p class="card-text mt-3"> <%= vc.description %> </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"> <%= vc.location %> </li>
                    <li class="list-group-item">Vaccine - <%= vc.vaccine %> </li>
                    <li class="list-group-item">Pricing - $<%= vc.price %> </li>
                    <li class="list-group-item">Services: <%= vc.service %> </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-primary" href="/vaccineCenters/<%= vc._id %>/edit">Edit</a>
                    <form class="d-inline" action="/vaccineCenters/<%= vc._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted"> 2 days ago </div>
            </div>
        </div>

        <div class="col-5 mx-auto">
            <div id='map' style='width: 100%; height: 300px;'></div>
            <div class="border pt-2 px-4 my-5">
                <h2 class="mb-4">Leave a Review</h2>
                <form action="/vaccineCenters/<%= vc._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                    <div class="row">
                        <div class="mb-2 col-5">
                            <label class="form-label" for="rating">Rating</label>
                            <select class="form-select" id="rating" name="review[rating] aria-label=" select">
                                <option selected>Select Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="mb-3 col-7">
                            <label class="form-label" for="service">Service</label>
                            <select class="form-select" id="service" name="review[service] aria-label=" select">
                                <option selected>Select Service(s) Offered</option>
                                <option value="Walk-In">Walk-In</option>
                                <option value="Appointment">Appointment</option>
                                <option value="Both">Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="description">Review</label>
                        <textarea class="form-control" name="review[description]" id="description" cols="30" rows="4"
                            required placeholder="Please give a review!"></textarea>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            <% for(let review of vc.reviews) { %>
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Rating: <%= review.rating %> </h5>
                        <p class="card-text mb-1">Service: <%= review.service %> </p>
                        <p class="card-text mb-2"> <%= review.description %> </p>
                        <form action="/vaccineCenters/<%= vc._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>


    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const vc = <%- JSON.stringify(vc) %>
    </script>

    <script src="/javascripts/showMap.js"></script>